.team {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width: 800px;
  padding: 2rem 0;
  background-color: #8978ce6b;
  border-radius: 25px;
}

.team h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.team-members {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1rem -0.5rem;
}

.team-member {
  width: 200px;
  height: 300px;
  margin: 1rem;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  border-radius: 25px;
}

.team-member:hover {
  transform: scale(1.1);
  background-color: #ffffff;
}

.team-member img {
  display: block;
  margin-left: auto;
margin-right: auto;
}

.team-member h3 {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0.5rem 0;
  text-align: center;
}

.team-member p {
  font-size: 0.9rem;
  color: #666;
  margin: 0;
  text-align: center;
}

.active-member {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0;
  padding: 1rem;
  border: 1px solid #ddd;
  background-color: #f5f5f5;
  width: 100%;
  max-width: 500px;
  text-align: center;
}

.active-member img {
  width:100%;
}