.about{
    margin: 100px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}
.about-left{
    flex-basis: 40%;
    position: relative;
}
.about-right{
    flex-basis: 56%;
}
.about-img{
    width: 100%;
    border-radius: 10px;
}
.play-icon{
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}
.about h3 {
    font-weight: 600;
    font-size: 16px;
    color: #212EA0;
  }

.about h2 {
    font-size: 35px;
    color: #000F38;
    margin: 10px 0;
    max-width: 400px;
  }
  .about p{
    color: #676767;
    margin-bottom: 15px;
  }


  .btnn {
    background-color: blue;
    color: white; /* Text color */
    border: none; /* Remove border */
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 20px;
  }
  
  .btnn:hover {
    background-color: darkblue; /* Dark blue color on hover */
    transition: 1s;
  }




