fastapi
uvicorn
python-dotenv
torch
transformers
spacy
sense2vec
pydantic
starlette
pke @ git+https://github.com/boudinfl/pke.git
nltk
similarity
flashtext
PyPDF2
pillow
tensorflow
python-levenshtein
joblib
numpy
strsim


# pip install --upgrade pip && pip install git+https://github.com/boudinfl/pke.git && pip install -r requirements.txt
# pip install fastapi uvicorn python-dotenv torch transformers spacy sense2vec pke nltk similarity flashtext PyPDF2
